
@media screen and (max-width: 1192px) {
  .header-top{
    display: flex;
    justify-content: space-between;
  }
  .header-box__contacts-number {
    font-size: 16px;
}
  .header-nav{
    display: none;
  }
 }

 @media screen and (max-width: 1063px){
  .header-box__contacts {
    padding-right: 32px;
  }
  .header-box__contacts:last-child{
    padding-right: 32px;
  }

 }

 @media screen and (max-width: 1042px){
  .header-box{
    flex-direction: column;
  }
  .header-top__btn-order {
    padding: 9px 36px;
    margin-left: 0;
    margin-top: 10px;
}
.header-top__btn-rate {
  padding: 8px 35px;
}
.footer-box__about-list::after {
  left: 205px;
}
.footer-box__about-list.footer-box__about-line::after{
  left: 205px;
}
 }

 @media screen and (max-width: 912px){
  .header-box{
    flex-direction: column;
  }
  .header-top__btn-order {
    padding: 9px 36px;
    margin-left: 0;
    margin-top: 10px;
}
.header-top__btn-rate {
  padding: 8px 35px;
}
.footer-box__about-title {
  font-size: 17px;
}
.footer-box__about-link {
  font-size: 14px;
}
.footer-contacts {
  min-width: 170px;
}
.footer-contacts__wrapper-link {
  font-size: 15px;
}
.footer-text {
  font-size: 12px;
}

.footer-box__about-list::after {
  left: 188px;
}
.footer-box__about-list.footer-box__about-line::after{
  left: 188px;
}
 }

@media screen and (max-width: 846px){
  .footer-box__about-list::after {
    left: 173px;
}
.footer-box__about-list.footer-box__about-line::after{
    left: 173px;
  }
}

@media screen and (max-width: 755px){
  .footer-box__about-list::after {
    left: 165px;
  }
  .footer-box__about-list.footer-box__about-line::after{
    left: 165px;
  }
}

 @media screen and (max-width: 684px){
   .footer-box{
    flex-wrap: wrap;
    justify-content: space-around;
   }
  .footer-box__about {
    width: 150px;
}
  .footer-box__about-title {
    font-size: 13px;
  }
  .footer-box__about-link {
    font-size: 11px;
  }
  .footer-box__about-list::after {
    left: 143px;
  }
  .footer-box__about-list.footer-box__about-line::after{
    left: 143px;
  }
 }

 @media screen and (max-width: 649px){
  .header-top__logo{
    margin-right: 0;
  }
  .header-box__contacts{
    padding-right: 39px;
  }
  .header-box__contacts:last-child {
    padding-right: 0;

}
  .header-top__btn-order {
    margin-left: 25px;
    margin-top: 0;
    padding: 9px 25px;
}
.header-top__btn-rate {
  padding: 6px 23px;
}

.header-top {
  flex-direction: column;
}

.header-box {
  flex-direction: row;
  order: 1;
}

.tour__subtitle {
  font-size: 15px;
}

.tour__title {
  font-size: 34px;
}
.title--line {
  max-width: 3em;
}
.tour-about__info-title {
  font-size: 20px;
}
 }

 @media screen and (max-width: 524px){
 .footer-box__about-list::after {
   left: 138px;
 }
 .footer-box__about-list.footer-box__about-line::after{
  left: 138px;
 }
}

 @media screen and (max-width: 384px){
  .header-box__contacts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-right: 0;
}
.header-box__contacts:last-child {
  padding-right: 0;
}
.header-top__btn-order {
  margin-left: 0;
  margin-top: 10px;
  padding: 9px 25px;
}

.header-box{
  margin: 0 auto;
  flex-direction: column;
}
.tour-about__info-title {
  font-size: 15px;
}
.footer-contacts {
  min-width: 144px;
}
.footer-contacts__wrapper-link {
  font-size: 13px;
}
.footer-contacts__box {
  padding: 10px 10px;
}
.footer-text {
  font-size: 10px;
  margin-top: 10px;
}
 }
